body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 0px;
    line-height: 1.42857143;
    color: #333;
    background-color: #ffffff;
    width: 100vw;
}
#upgrade-body {
    width: 100vw;
}
p {
    display: block;
    margin-block-start: .5em;
    margin-block-end: 0.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}       /* NAV */
div.topnav {
    display: block;
    background-color: #272727;
    color: rgba(255, 255, 255, 0.742);
    padding: 5px 10px;
    z-index: 10;
    min-height: 51px;
    max-width: 100vw;
}
.dropbtn {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.742);
    margin: 8px 15px 0;
    font-size: 16px;
    display: inline-block;
    cursor: pointer;
}
.topnav p:hover {
    color: rgba(255, 255, 255, 1);
}
.topnav a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.742);
    margin: 0 15px;
    font-size: 22px;
    display: inline-block;
    padding: 8px 0;
}
.topnav a:hover {
    color: rgba(255, 255, 255, 1);
}
.dropcnt {
    background-color: #f1f1f1;
    min-width: 160px;
    max-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 5;
    display: inline-block;
}
div.dropdowns {
    display: block;
    width: 100%;
    height: auto;
    overflow: visible;
    position: absolute;
    top: 62px;
    right: 0;
}
.dropcnt p {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    margin: 0;
    cursor: pointer;
}
.dropcnt p:hover {
    background-color: #d3d2d2;
}
#setup-drop, #wireless-drop, #security-drop, #access-drop, #administration-drop, #status-drop {
    display: none;
}
#setup, #wireless, #security, #access, #administration, #status {
    transition: all 1.5s;
}
#setup:hover, #wireless:hover, #security:hover, #access:hover, #administration:hover, #status:hover {
    color: rgba(255, 255, 255, 1);
}
#wireless-drop {
    position: relative;
    left: 100px;
}
#security-drop {
    position: relative;
    left: 210px;
}
#access-drop {
    position: relative;
    left: 320px;
}
#administration-drop {
    position: relative;
    left: 500px;
}
#status-drop {
    position: relative;
    left: 650px;
}
.container {
    height: 547px;
    position: absolute;
    width: 100%;
    max-height: 450px;
}
div.mobile-menu {
    box-sizing: border-box;
    display: block;
    font-size: 16px;
    background-color: #4168E1;
    color: white;
    height: 0%;
}
div.mobile-menu p {
    margin: 5px 0;
    padding: 25px 10px 25px 25px;
    font-weight: bolder;
    cursor: pointer;
}
p#one {
    display: block;
    margin-block-start: 0;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin: 0;
}
#mobile {
    opacity: 0;
}
#hamburger, #mobile {
    display: none;
    position: relative;
    z-index: 10;
}       /* Nav End */
.main-container {
    margin: 2vh 5vw;
    padding: 10px 0;
    display: block;
}
.header-container {
    display: block;
}
.logo-container {
    display: flex;
    align-content: center;
    justify-content: center;
}
#logoMain {
    height: 100px;
    width: 175px;
    background-image: url(img/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    transform: scale(2);
    position: relative;
    z-index: 1;
}
.header-header {
    text-align: center;
    color: cornflowerblue;
    font-size: 28px;
    font-weight: bold;
    position: relative;
    left: 10px;
    z-index: 1;
}
.header-info {
    font-size: 20px;
    font-weight: 100;
    color: black;
    text-align: start;
}
form {
    display: block;
    font-size: 18px;
}
.network {
    display: block;
}
.essid {
    display: inline-block;
    font-weight: bolder;
}
.essidName {
    display: inline-block;
}
label.comment {
    display: block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bolder;
}
#comment {
    opacity: 1;
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
textarea {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-appearance: textarea;
    background-color: white;
    -webkit-rtl-ordering: logical;
    flex-direction: column;
    resize: auto;
    cursor: text;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    margin: 0em;
    font: 400 11px system-ui;
    border-width: 1px;
    border-style: solid;
    border-color: initial;
    border-image: initial;
    padding: 2px;
}
.checkbox {
    display: flex;
    align-items: center;
}
#check-box {
    margin-right: 10px;
    display: inline-block;
    transform: scale(1.5);
}
.check-p {
    display: inline-block;
    margin-left: 20px;
}
.wpa-container {
    display: block;
}
#wpa {
    display: block;
    width: 100%;
    border-radius: 4px;
    padding: 6px 12px;
    border: 0.5px solid rgb(198, 198, 198);
}
.submit-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
#submit {
    margin-top: 25px;
    padding: 10px 15px;
    background-color: cornflowerblue;
    border-radius: 4px;
    font-size: 18px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.footer {
    margin-top: 75px;
    text-align: center;
}
.upgrading {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
}
#loading {
    height: 175px;
    width: 175px;
    background-image: url(img/loading.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
}
.upgrading p {
    padding: 25px;
    font-weight: bold;
    margin-top: 10%;
    margin-block-end: 0;
    color: cornflowerblue;
    font-size: 18px;
}
.upgrading #loading {
    margin-top: 15%;
}
#logoMain {
    margin-top: 50px;
}
.link {
    cursor: pointer;
}
@media only screen and (max-width: 768px) {
    #setup, #wireless, #security, #access, #administration, #status {
        display: none;
    }
    #hamburger {
        display: inline-block;
        color: white;
        margin-top: 5px;
    }
    #mobile {
        display: block;
    }
    .upgrading p {
        font-size: 16px;
    }
    #logoMain {
        margin-top: 25px;
        transform: scale(1.5);
    }
}
@media only screen and (min-height: 900px) {
    #comment {
        height: 300px;
    }
    p {
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }
    #logoMain {
        transform: scale(1.5);
    }
}
@media only screen and (min-height: 1100px) {
    #comment {
        height: 400px;
        font-size: 18px;
    }
    form p {
        font-size: 18px;
    }
}
@media only screen and (max-width: 400px) {
    .header-header {
        font-size: 20px;
    }
    .header-info {
        font-size: 18px;
    }
}